.revertbtn {
    font-size: 15px;
    font-weight: bold;
    color: #66CCCC;
    transition: all 0.5s;
    background-color: #ffffff;
    border: 1px solid #66CCCC;
}

.revertbtn:hover {
    transition: all 0.5s;
    background-color: #66CCCC;
    border: 1px solid #66CCCC;
}

.revertbtn:focus {
    transition: all 0.5s;
    background-color: #66CCCC;
    border: 1px solid #66CCCC;
}

.svg-container {
    color: #66CCCC;
    vertical-align: middle;
    width: 30px;
    display: inline-block;
}

@keyframes rotate360 {
    100% {
        transform: rotate(360deg);
    }
}

.refresh-enter-active,
.refresh-leave-active {
    animation: rotate360 0.5s;
}

.refresh-enter-from,
.refresh-leave-to {
    animation: rotate360 0.5s reverse;
}

.options {
    padding: 15px 0 0 0;
}