<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<config>
		<add key="repositoryPath" value="packages" />
	</config>
	<packageSources>
		<add key="LocalBaGet" value="http://192.168.110.100:7500/v3/index.json" />
		<add key="NuGet" value="https://api.nuget.org/v3/index.json" />
	</packageSources>
</configuration>